<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135188977623-k5e7est0mg4ht6mh0n55ihlna7eaic91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135188977623-k5e7est0mg4ht6mh0n55ihlna7eaic91</string>
	<key>API_KEY</key>
	<string>AIzaSyB5r9TunRr_wB_EqognJdjufp0XZQ6POvU</string>
	<key>GCM_SENDER_ID</key>
	<string>135188977623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rEz2</string>
	<key>PROJECT_ID</key>
	<string>r-ez2-725a2</string>
	<key>STORAGE_BUCKET</key>
	<string>r-ez2-725a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135188977623:ios:d850bd9551671130031d92</string>
</dict>
</plist>